@import url(normalize.css);
@import url(_variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--dark-primary);
    color: var(--light-primary);
}

/* MOBILE-FIRST */
.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header__navbar--link,
.skills__list-item,
.footer__list-img {
    transition: all var(--transition-speed) var(--transition-ease);
}

.hidden {
    display: none;
}

.header__navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: visible; /* Ajustei para funcionar o dropdown. */
    position: fixed;
    top: 0;
    width: 100%;
    padding: var(--spacing-md);
    background-color: var(--dark-secondary);
}

.header__navbar-logo {
    font-size: var(--font-size-sm);
    font-family: "Inconsolata", monospace;
}

.header__navbar-logo--link {
    color: var(--light-primary);
}

.header__navbar-logo--link:hover {
    color: var(--light-secondary);
}

.header__navbar-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__navbar-svg--toggle {
    max-width: 24px;
    max-height: 24px;
    color: var(--light-primary);
}

.header__navbar-list {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--spacing-md);
}

.header__navbar-list:not(.hidden) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--dark-secondary);
    padding: var(--spacing-md);
    min-width: 50%;
}

.header__navbar-link {
    color: var(--light-primary);
    font-size: var(--font-size-xs);
}

.header__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    margin-top: var(--spacing-xl);
}

.header__content-title {
    font-size: var(--font-size-lg);
    font-family: "Inconsolata", monospace;
}

.header__content-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
    align-items: center;
}

.header__content-subtitle {
    font-size: var(--font-size-xs);
    font-family: "Inconsolata", monospace;
}

.header__content-text {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-xl);
}

.header__content-img {
    width: 260px;
    height: 260px;
    align-self: flex-start;
    border-radius: 50%;
}

.header__content-img:hover {
    filter: brightness(1.1);
    transition: filter 0.3s ease;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
    background-color: var(--dark-secondary);

}

.about__title {
    font-size: var(--font-size-lg);
    font-family: "Inconsolata", monospace;
}

.about__text {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-xl);
}

.skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
    margin-top: var(--spacing-lg);
}

.skills__title {
    font-size: var(--font-size-lg);
    font-family: "Inconsolata", monospace;
}

.skills__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-md);
}

.skills__list-item:hover {
    color: var(--light-secondary);
    font-weight: bolder;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: var(--spacing-md);
    margin-top: var(--spacing-lg);
    gap: var(--spacing-md);
    background-color: var(--dark-secondary);
}

.projects__title {
    font-size: var(--font-size-lg);
    font-family: "Inconsolata", monospace;
}

.projects__article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--spacing-md);
}

.projects__article-title {
    font-size: var(--font-size-lg);
    font-family: "Inconsolata", monospace;
}

.projects__article-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-md);
}

.projects__article-item {
    font-size: var(--font-size-xs);
    font-family: "Inconsolata", monospace;

}

.projects__article-text {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-xl);
}

.project__article-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .375rem;
    font-size: var(--font-size-sm);
    font-weight: bolder;
    color: var(--light-primary);
    cursor: pointer;
}

.project__article-img {
    width: 18px;
    height: 18px;
}

.curiosities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: var(--spacing-md);
    margin-top: var(--spacing-lg);
    gap: var(--spacing-md);
}

.curiosities__title {
    font-size: var(--font-size-lg);
    font-family: "Inconsolata", monospace;
}

.curiosities__text {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-xl);
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-md);
    background-color: var(--dark-secondary);
    border-top: 2rem;
    margin-top: 40px;
    width: 100%;
    height: 100%;
}

.footer__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
}

.footer__title {
    font-size: var(--font-size-sm);
    font-family: "Inconsolata", monospace;
}

.footer__list {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
}

.footer__list-item {
    cursor: pointer;
}

.footer__list-img {
    width: 24px;
    height: 24px;
}

.footer__list-img:hover {
    opacity: 0.2;
}

.footer__copyright {
    text-align: center;
    font-size: var(--font-size-xs);
}

@media (min-width: 768px) {
    .header__navbar-logo {
        font-size: 18px;
    }

    .header__navbar-link {
        font-size: var(--font-size-sm);
    }

    .header__navbar-svg--toggle {
        display: none;
    }

    .header__navbar-list {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
        padding: 0;
        min-width: auto;
    }

    .header__navbar-link:hover {
        color: var(--light-secondary);
    }

    .header__navbar-btn {
        display: none;
    }

    .header__content {
        justify-content: center;
        align-items: center;
        min-width: 990px;
        padding: 3rem;
    }

    .header__content-title {
        font-size: 32px;
    }

    .header__content-subtitle {
        font-size: 24px;
    }

    .header__content-text {
        font-size: 20px;
        text-align: center;
    }

    .header__content-img {
        width: 400px;
        height: 400px;
        align-self: center;
    }

    .about {
        align-items: center;
        padding: 3rem;
        border-radius: .625rem;
    }

    .about__title {
        font-size: 32px;
    }

    .about__text {
        font-size: 20px;
        width: 800px;
        text-align: center;
    }

    .main {
        padding: 0 3rem;
        min-width: 800px;
        min-height: 100%;
    }

    .skills {
        align-items: center;
    }

    .skills__title {
        font-size: 32px;
    }

    .skills__list-item {
        font-size: 20px;
    }

    .skills__list-item:hover {
        color: var(--light-secondary);
    }

    .projects {
        align-items: center;
        gap: 2rem;
        border-radius: .625rem;
    }

    .projects__title {
        font-size: 32px;
    }

    .projects__article {
        align-items: center;
        max-width: 800px;
    }

    .projects__article-title {
        font-size: 24px;
    }

    .projects__article-item {
        font-size: 20px;
    }

    .projects__article-text {
        font-size: 20px;
        text-align: center;
    }

    .curiosities {
        align-items: center;
    }

    .curiosities__title {
        font-size: 32px;
    }

    .curiosities__text {
        font-size: 20px;
        text-align: center;
        max-width: 800px;
    }

    .footer {
        padding: 3rem 0;
        min-width: 990px;
        min-height: 100%;
    }

    .footer__title {
        font-size: 18px;
    }
}